**/*.aux
**/*.log
**/*.out
**/*.fdb_latexmk
**/*.fls
**/*.dst
**/*.blg
**/*.bbl
**/*.pdf
!latex/images/*.pdf
!markdown/images/*.pdf
**/*.swp
**/*.toc
**/*.snm
**/*.nav
**/*.swp
**/*.paux
**/.DS_Store
build/*
tmp/*
oembed-cache.json
