[submodule "themes/NCLCourse"]
	path = themes/NCLCourse
	url = git@mas-gitlab.ncl.ac.uk:makecourse-tools/NCLCourse.git
[submodule "themes/accessible"]
	path = themes/accessible
	url = http://mas-gitlab.ncl.ac.uk/makecourse-tools/theme-lenartowicz.git
